<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard com Navbar - Exemplo Bootstrap</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Funcionários <i class="fas fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <li><a class="dropdown-item" onclick="exibirListaFuncionariosAtivos()">Lista de Funcionários</a></li>
                <li><a class="dropdown-item" onclick="exibirFormCadastro()">Cadastrar Funcionário</a></li>
                <li><a class="dropdown-item" onclick="exibirPesquisaFuncionarios()">Pesquisar Funcionário</a></li>
                <li><a class="dropdown-item" onclick="exibirListaFuncionariosInativos()">Funcionários Inativos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Atendimentos <i class="fas fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item" href="#">Novo Atendimento</a></li>
                <li><a class="dropdown-item" href="#">Pesquisar Atendimentos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Solicitações <i class="fas fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <li ><a class="dropdown-item" href="#">Novo Atendimento</a></li>
                <li ><a class="dropdown-item" href="#">Pesquisar Atendimentos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Configurações do Sitema <i class="fas fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <li ><a class="dropdown-item" href="#">Paises</a></li>
                <li ><a class="dropdown-item" href="#">Estados</a></li>
                <li ><a class="dropdown-item" href="#">Setores</a></li>
                <li ><a class="dropdown-item" href="#">Filiais</a></li>
                <li ><a class="dropdown-item" href="#">Tipo Atendimento</a></li>
                <li ><a class="dropdown-item" href="#">Tipo Solicitação</a></li>
              </ul>
            </li>
          </ul>
          <div class="d-flex">
            <a href="/logout.html" class="btn btn-outline-light">Sair</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <section id="sectionFuncionarios" class="container mt-4" style="display: none;">
    <h2>Lista de Funcionários</h2>
    <ul id="listaFuncionarios" class="list-group">
      <!-- Lista de funcionários será inserida aqui -->
    </ul>
  </section>

  <section id="sectionCadastro" class="container mt-4" style="display: none;">
    <h2>Cadastrar Funcionário</h2>
    <form id="formCadastroFuncionario">
      <div class="mb-3">
        <label for="matricula" class="form-label">Matrícula</label>
        <input type="text" class="form-control" id="matricula" name="matricula" required>
      </div>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
      </div>
      <div class="mb-3">
        <label for="sobrenome" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="sobrenome" name="sobrenome">
      </div>
      <div class="mb-3">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf">
      </div>
      <div class="mb-3">
        <label for="rg" class="form-label">RG</label>
        <input type="text" class="form-control" id="rg" name="rg">
      </div>
      <div class="mb-3">
        <label for="data_nascimento" class="form-label">Data de Nascimento</label>
        <input type="date" class="form-control" id="data_nascimento" name="data_nascimento">
      </div>
      <div class="mb-3">
        <label for="estado_civil" class="form-label">Estado Civil</label>
        <input type="text" class="form-control" id="estado_civil" name="estado_civil">
      </div>
      <div class="mb-3">
        <label for="cnh" class="form-label">CNH</label>
        <input type="text" class="form-control" id="cnh" name="cnh">
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <input type="text" class="form-control" id="status" name="status">
      </div>
      <div class="mb-3">
        <label for="data_cadastro" class="form-label">Data de Cadastro</label>
        <input type="date" class="form-control" id="data_cadastro" name="data_cadastro">
      </div>
      <div class="mb-3">
        <label for="id_cargo" class="form-label">ID do Cargo</label>
        <input type="text" class="form-control" id="id_cargo" name="id_cargo">
      </div>
      <div class="mb-3">
        <label for="id_setor" class="form-label">ID do Setor</label>
        <input type="text" class="form-control" id="id_setor" name="id_setor">
      </div>
      <div class="mb-3">
        <label for="id_filial" class="form-label">ID da Filial</label>
        <input type="text" class="form-control" id="id_filial" name="id_filial">
      </div> 
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </section>

  <section id="sectionPesquisa" class="container mt-4" style="display: none;">
    <h2>Pesquisar Funcionário</h2>
    <form id="formPesquisaFuncionario">
      <div class="mb-3">
        <label for="matricula" class="form-label">Matricula Funcionário</label>
        <input type="text" class="form-control" id="matriculaPesquisa" name="matricula" required>
      </div>
      <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
    <ul id="resultadosPesquisa" class="list-group mt-4">
      <!-- Resultados da pesquisa serão inseridos aqui -->
    </ul>
  </section>

  <section id="sectionFuncionariosInativos" class="container mt-4" style="display: none;">
    <h2>Lista de Funcionários Inativos</h2>
    <ul id="listaFuncionariosInativos" class="list-group">
      <!-- Lista de funcionários será inserida aqui -->
    </ul>
  </section>

  <div id="mensagemCadastro"></div>

  

  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/funcionario.js"></script>
</body>
</html>