<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="shortcut icon" href="/icon/icon-Dashboard.png" type="image/x-icon">
    <title>Novo Funcionario</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard.html">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="funcionariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Funcionários
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="funcionariosDropdown">
                    <li><a class="dropdown-item" href="/views/novofuncionario.html">Novo Funcionário</a></li>
                    <li><a class="dropdown-item" href="/views/pesquisarFuncionario.html">Pesquisar Funcionário</a></li>
                    <li><a class="dropdown-item" href="#">Cadastros Inativos</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="solicitacaoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Solicitação
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="solicitacaoDropdown">
                    <li><a class="dropdown-item" href="#">Nova Solicitação</a></li>
                    <li><a class="dropdown-item" href="#">Buscar Solicitação</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="atendimentoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Atendimento
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="atendimentoDropdown">
                    <li><a class="dropdown-item" href="#">Novo Atendimento</a></li>
                    <li><a class="dropdown-item" href="#">Buscar Atendimento</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="ajustesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ajustes do Sistema
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="ajustesDropdown">
                    <li><a class="dropdown-item" href="#">Paises</a></li>
                    <li><a class="dropdown-item" href="#">Estados</a></li>
                    <li><a class="dropdown-item" href="#">Cidades</a></li>
                    <li><a class="dropdown-item" href="#">Setores</a></li>
                    <li><a class="dropdown-item" href="#">Filiais</a></li>
                    <li><a class="dropdown-item" href="#">Tipo Atendimento</a></li>
                    <li><a class="dropdown-item" href="#">Tipo Solicitação</a></li>
                    <li><a class="dropdown-item" href="#">Permissões</a></li>
                  </ul>
                </li>
              </ul>
              <div class="d-flex">
                <a href="/logout.html" class="btn btn-outline-light">Sair</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="text-center" action="/api" method="POST">
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="matricula">Numero da Matricula</label>
                        <input class="form-control" name="matricula" type="number" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="nome">Nome do Funcionario</label>
                        <input class="form-control" name="nome" type="text" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="sobrenome">Sobrenome do Funcionario</label>
                        <input class="form-control" name="sobrenome" type="text" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="cpf">CPF</label>
                        <input class="form-control" name="cpf" type="text" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="rg">RG</label>
                        <input class="form-control" name="rg" type="text" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="data_nascimento">Data de Nascimento</label>
                        <input class="form-control text-center" name="data_nascimento" type="date" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="estado_civil">Estado Civil</label>
                        <select class="form-select text-center" name="estado_civil" aria-label="Default select example">
                            <option selected></option>
                            <option value="solteiro">Solteiro</option>
                            <option value="casado">Casado</option>
                            <option value="viuvo">Viuvo</option>
                        </select>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="cnh">CNH</label>
                        <input class="form-control" name="cnh" type="text" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="status">Status</label>
                        <select class="form-select text-center" name="status" aria-label="Default select example">
                            <option selected>Escolha opção</option>
                            <option value="ativo">Ativo</option>
                            <option value="inativo">Inativo</option>
                        </select>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="data_cadastro">Data de Cadastro</label>
                        <input class="form-control text-center" name="data_cadastro" type="date" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="id_cargo">ID Cargo</label>
                        <input class="form-control" name="id_cargo" type="number" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="id_setor">ID Setor</label>
                        <input class="form-control" name="id_setor" type="number" required>
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label" for="id_filial">ID Filial</label>
                        <input class="form-control" name="id_filial" type="number" required>
                    </div>
                    <div class="col-md-12 mt-4 text-end">
                        <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <script src="/models/funcionarioModel.js"></script>
    <script>
        setTimeout(function() {
    window.location.href = "/dashboard.html"; 
    }, 2000);
    </script>
</body>
</html>