body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #245c91cb; /* Cor azul com transparência */
    padding: 10px 0;
    width: 100%; /* Header ocupa todo o espaço horizontal */
  }

  nav.navbar {
    background-color: #245c91cb;
  }