

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-content{
    width: 60%;
    min-width: 500px;
    min-height: 200px;
    background-color: #ffffff62;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 10px;
    top: +70px;
    left: +300px;
    max-height: 80%;
    max-width: 90%;
    overflow-y: auto;
    
}

.modal-content::-webkit-scrollbar {
    width: 10px;
  }

.modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }

  .modal-content::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.fechar{
    position: absolute;
    top: +5px;
    right: +5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-weight: 700;
    font-size: 14pt;
    cursor: pointer;
}

.modal h1{
    margin-bottom: 20px;
}

@keyframes animate-modal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal-container.mostrar{
    display: block;
}

.mostrar .modal{
    animation: animate-modal .3s;
}